/**************************************************************
                Top Navigation Bar
***************************************************************/
/* Add a black background color to the top navigation */
.topnav {
    position: sticky;
    background-color:black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
    background-color: black;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/***********************************************************
                Slideshow container 
***********************************************************/
.slideshow-container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}
.mySlides{
    width: 100%;
    max-height: 50%;
}
/************************************************************
                    Featured Products
*************************************************************/
.featuredtext {
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
.featured  {
    display: grid;
    justify-content: center;
}
.featured1, .featured2, .featured3 {
    width: 200px;
    height: 200px;
}
figcaption {
    text-align: center;
}

/***********************************************************
                Products Page
************************************************************/
.select-product {
    margin-top: 2%;
    text-align: center;
}
.select-text{
    font-size: 2em;
    font-weight: bold;
}
/*Sort product items*/
.products-container {
display: grid;
justify-content: center;
} 
.choose-product {
    border: 1px solid grey;
}
/*Products*/
.products {
    align-items: center;
    width: 300px;
    height: 300px;
}


/***********************************************************
                    Details 
***********************************************************/
.details-content {
    width: 900px;
    margin: auto;
}
.productpic {
    width: 50%;
    height: 50%;
}
.fig1{
    font-size: 30px;
    margin-top: 5%;
}
.fig2 {
    margin-top: 2%;
    font-size: 40px; 
}
.quantity { 
    margin-top: 20%;
    margin-bottom: 30%;
    margin-left: 40%;
    border: 1px solid grey;
}
.addbtn {
    margin-left: 20%;
    border: 1px solid grey;  
}

/***********************************************************
                        Search
***********************************************************/
.search-form {
    min-height: 100vh;
    min-width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-label, .price-label, .category-label {
    margin-top: 10%;
    font-size: 2em;
    font-weight: bold;
}
#searchInput, .select-price, .category, .submit-btn{
    margin-top: 5%;
    border: 1px solid black;
}
#searchInput {
    margin-top: 5%;
    width: 30%;
    height: 40%;
    border: 1px solid black;
}
.select-price, .category {
    margin-top: 5%;
    width: 20%;
    height: 40%;
}
.submit-btn {
    margin-top: 10%;
    width: 10%;
    height: 40%;
}

/***********************************************************
                        contact
***********************************************************/
.contact-form{
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firstName, .lastName, .email, .phone-num {
    font-size: 1.5em;
    font-weight: bold;
}
.message {
    font-size: 1.5em;
    margin-top: 5%;
    font-weight: bold;
}
#first-name, #last-name, #e-mail, #phone, #contact{
    border: 1px solid grey;
}
.preferred, .checkboxes{
    font-size: 20px;
    font-weight: bold;
}
#comments {
    margin-top: 1%;
    border: 1px solid grey;
    width: 20%;
    height: 30%;
} 
#contact {
    margin-top: 3%;
}



/******************************************************************************************
                            Media Quieries
******************************************************************************************/

@media screen and (max-width: 800px) {
    /*
                Top Navigation Bar
    ***************************************************************/
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
    /***********************************************************
                Slideshow container 
    ***********************************************************/
    .slideshow-container {
        width:100%;
        overflow: hidden;
    }
    /***********************************************************
                    Products Page
    ************************************************************/
    .select-text{
        font-size: 1em;
        font-weight: bold;
    }
  
    /***********************************************************
                        Details 
    ***********************************************************/
    .details-content{
        width: 300px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    .productpic {
        padding: 3%;
        height: 300px;
        width: 300px; 
    }
    .fig1 {
        font-size: 1em;
    }
    .fig2{
        font-size: 2em;
        font-weight: bold;
    }

    /***********************************************************
                            Search
    ***********************************************************/

    .search-label, .price-label, .category-label {
        margin-top: 20%;
        font-size: 1.5em;
        font-weight: bold;
    }
    #searchInput, .select-price, .category, .submit-btn{
        margin-top: 10%;
        border: 1px solid black;
    }
    #searchInput {
        margin-top: 5%;
        width: 60%;
        height: 40%;
        border: 1px solid black;
    }
    .select-price, .category {
        margin-top: 5%;
        width: 40%;
        height: 40%;
    }
    .submit-btn {
        margin-top: 20%;
        width: 30%;
        height: 40%;
    }
    /***********************************************************
                            contact
    ***********************************************************/
    .firstName {
        margin-top: 5%;
        font-size: 1.5em;
        font-weight: bold;
    }

    #comments {
        margin-top: 1%;
        border: 1px solid grey;
        width: 50%;
        height: 30%;
    } 

}
/*---------------------------------------------------------------------------------------*/
@media screen and (min-width: 801px) {
     /***********************************************************
                    Products Page
    ************************************************************/
      /*Products*/
    .products {
        align-items: center;
        width: 300px;
        height: 300px;
    }
      /*Sort product items*/
      .products-container {
        display: grid;
        grid-template-columns: auto auto;
    } 
    /***********************************************************
                        Details 
    ***********************************************************/
    .details-content{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    .productpic {
        margin-top: 10%;
        height: 300px;
        width: 300px; 
    }
    .fig1{
        font-size: 2em;
        margin-top: 5%;
    }
    .fig2{
        font-size: 2em;
        margin-top: 10%;
        font-weight: bold;
    }
    .quantity { 
        margin-top: 40%;
        border: 1px solid grey;
    }
    .addbtn {
        border: 1px solid grey;  
    }
       
    /***********************************************************
                            contact
    ***********************************************************/
    .firstName {
        margin-top: 5%;
        font-size: 1.5em;
        font-weight: bold;
    }

}
